<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="{% static "styles/vendor-d102fb72f5.css" %}">
    <link rel="stylesheet" href="{% static "styles/main-e644c8c2be.css" %}">
    <title>Snapper</title>
  </head>
  <body ng-app="app">
    <main ui-view=""></main>
    <script src="{% static "scripts/vendor-2ef948d28c.js" %}"></script>
    <script src="{% static "scripts/main-62d28d3742.js" %}"></script>
  </body>
</html>
